html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
  background-image: url("https://64.media.tumblr.com/668ae41a3de4bc2b51e6a54bb0e9181a/tumblr_pat783U9tp1xorxdxo1_1280.jpg");
  background-color: black;
  background-size: 1300px;
  background-position: center;
  overflow: hidden;
}

header a {
	color: none;
	font-size: 20px;
	text-decoration: none; 
	display: block;
	margin: 0 auto;
	padding: 20px;
	width: fit-content;
}


header h1 {
	color: rgb(0, 0, 0);
	font-size: 35px;
	margin: 0;
  text-align: center;
}

header h1:hover {
	color: #0e0e0ee6;
}


footer {
	padding: 20px 0;
	text-align: center;
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
}

footer ul {
	margin: 0;
	padding: 0;
    float: left;
	list-style-type: none;
}

footer li {
	display: inline-block;
	margin: 0 65px;
}

footer li a {
	color: rgb(0, 0, 0);
	font-size: 30px;
	text-decoration: none;
}

footer li a:hover {
	color: #161515ac;
}



.text-container {
  color: rgba(0, 0, 0, 0.714);
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  margin: -130px auto 0;
  text-align: center;
  
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh; 
}

.text-container h3 {
  margin: 0 0 1rem; 
}

.button-like-text {
  background: none;
  border: none;
  color: rgba(245, 245, 245, 0.714);
  font-size: 20px;
  font-family: Copperplate, sans-serif;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.button-like-text:hover {
  color: #ccc;
  
}
