
/* ---------- root variables ---------- */
:root {
  --font-family: Copperplate, sans-serif;
}

/* ---------- general styling ---------- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

header a {
  color: var(--white);
  font-size: 25px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
}

header h1 {
  color: rgba(255, 255, 255, 0.779);
  font-size: 25px;
  margin: 0;
  text-align: center;
}

header h1:hover {
  color: #ccc;
}

footer {
  padding: 10px 0;
  text-align: center;
  position: fixed;
  float: left;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  /* transparent background */
}


footer ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
}

footer li {
  display: inline-block;
  margin: 0 65px;
}

footer li a {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

footer li a:hover {
 background-color: #f7f0f000;
  
  text-shadow: none;
}

footer li a {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px #eeeeeba8;
}

footer button {
  color: rgb(210, 203, 203);
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #FFFFFF;
  border: 2px solid #5e5757;
  
}

footer button:hover {
  background-color: #f7f0f000;
  color: #ffffff;
  text-shadow: none;
  text-shadow: 1px 1px 1px #eeeeeba8;
}

.button-like-text {
  background: none;
  border: none;
  color: rgb(213, 208, 208);
  font-size: 22px;
  font-weight: bold;
  font-family: Copperplate, sans-serif;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.button-like-text:hover {
  color: #c2b9b9;
}
/* ---------- main page styling ---------- */
main {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.4s;
  padding: 190px 0 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}



/* ---------- grid item styling ---------- */
.grid-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.05);
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.grid-item .overlay h3 {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

.grid-item .overlay p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0 10px;
  line-height: 1.4;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.grid-item .overlay a {
  color: var(--green);
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  border: 2px solid var(--green);
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.grid-item .overlay a:hover {
  background-color: var(--green);
  color: var(--white);
}

/* ========== dialog styling ========== */

/*--POST CLICKED DIALOG (moreinfo dialog)--*/
#post-clicked-dialog {
  height: 1080px;
  width: 1500px;
  background-color: black;
  border-radius: 25px;
  animation: fadeIn 0.3s;
}

#post-clicked-dialog p {
  color: white;
}

#dialog-image {
  width: 50%;
  height: auto;
  object-fit: contain;
}

#post-clicked-dialog img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#post-clicked-info p#Description {
  max-width: 110px;
  word-wrap: break-word;
}

#post-clicked-info {
  position: absolute;
  bottom: 100px;
  left: 20px;
  font-size: medium;
}

#post-clicked-info p {
  display: inline-block;
  width: 50%;
  margin-right: 10px;
}


/*----------update-post-dialog---------------*/

#update-post-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  background-image: url('https://lh3.googleusercontent.com/-0Sp8b99qOVy832wzIFhqSF763SdqNX93wVAsT3QN63i_i1z0lo6PjBpTIDyhWl8mnJ3w-Qf4uBQHSCiJgBges17COulR9Jn0QO-Xuuon3JxeGkTQsQudOIpbhvfnxRk1Rgtz_3qtMGG1uporAPo_rQptsNGe27goVw8e6wiAiqhaaKVnB0Eet74ssYwLawMdl0oHFYm0sJ1q7gmHuCc7vGR_517tDG9ZwP0bwnE1YwtR0a88c7AMhS75cTLC42MWv149rg2HZHuR4MS1Xh1R9g9G_oT2009U5ulIT2wxddYZ1s078N-neBpxjsN44HCSBcCm-hMW9upW3TTUeSG-n2S7xHFaZhyRenkSySbMSFhAEuuUhff542MY_vn_TtF1GoX1mOQgLrtebil4m4O__i3SPPClSciGkvDH3C0yIqu1-JAFmVLYXsgXaU_TlN6RmuZUwb-SSOV8ZQkd0zZdpwmKch_Y93ZzFUEZvHKDqB2DG3hzdgTCuMwfgk5g43r2IKRT9s0ya16-SfiVPv6Z3mWP8yXf7--AQ06yNnaDw6uSH_4dYy6RAPIubegZxGGkVD9t5TWRPkdVzgvCaCOmYOtn8-Varp9F6blq66zRDJuzCCyvkR4AMjkD2iblBiN9UtWP98UpkFckMEkIqVoUk75PcKO_lilN5DaCvnc24_bPRks2mjT8bAf2--t8_1WzDBFto0Ohq_UMrNZksem2svh4vxS2Zvlg9U0wKsRbXqjFt0f_L9RRKkqYV1AxGpRIqSoMNzt0SvXRkM9SCLUg0VZYa8g6f_B1RYqHvgatCMDuSp9v9WeEoFqe7anwlFY9m9ty2G-BNGfi0LAyjDPuYS6fCDCoGYCBnTkaDyLWXJDXAT4zCyspry6UETbE43ff2BwwjuAVcRP0YxKeICcyDsu_P9bL34bfHHdZwfd6jixEdn4=w1170-h658-s-no?authuser=0');
  background-color: black;
  background-size: cover;
  background-position: center;

}

#picture-author,
#picture-song,
#picture-year {
  display: inline-block;
  width: 45%;
  margin: 0 5% 10px 5%;
  box-sizing: border-box;
}

#chuliki-update-form * {

  padding: 0px;
  box-sizing: border-box;
  font-family: Copperplate, sans-serif;
  color: rgb(255, 255, 255);
}

#chuliki-update-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

#chuliki-update-form form {
  background: rgba(70, 67, 67, 0.267);
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 10px;
  padding: 55px 30px 40px 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.184);
  height: 100%;
  /* added */
  text-align: center;
}

#chuliki-update-form form .title h2 {
  letter-spacing: 5px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

#chuliki-update-form form .half {
  display: flex;
  justify-content: space-between;
}

#chuliki-update-form form .half .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chuliki-update-form form label {
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

#chuliki-update-form form .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

#chuliki-update-form form .full {
  margin-bottom: 24px;
  padding-top: 10px;
}

#chuliki-update-form form .full textarea {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

#chuliki-update-form form .action {
  margin-bottom: 30px;
}

#chuliki-update-form .full label {
  display: block;
  text-align: center;
}


#chuliki-update-form form .action input {
  background: rgba(128, 128, 128, 0.267);
  border-radius: 2px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 26px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 10px 0 12px;
  margin-right: 10px;
}

#chuliki-update-form .item1,
#chuliki-update-form .item2,
#chuliki-update-form .item3 {
  text-align: center;
}

#chuliki-update-form .item1 input,
#chuliki-update-form .item2 input,
#chuliki-update-form .item3 input {
  background-color: rgba(255, 255, 255, 0.277);
  border: 1px solid white;
}



/*delete-post-dialog*/
#delete-post-dialog {
  background: rgba(128, 128, 128, 0.267);
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 10px;
  padding: 55px 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.184);
  height: 200px;
  text-align: center;
  font-family: Copperplate, sans-serif;
  color: white;
  animation: fadeIn 0.3s;
}

#btn-cancel {
  position: absolute;
  left: 125px;
  width: 100px;
  background: rgba(128, 128, 128, 0.267);
  border-radius: 2px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 26px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 10px 0 12px;
}

#confirm-delete {
  position: absolute;
  right: 125px;
  width: 100px;
  background: rgba(128, 128, 128, 0.267);
  border-radius: 2px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 26px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 10px 0 12px;
}

/* createpost form/dialog style*/


#create-post-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  background-image: url('https://lh3.googleusercontent.com/-0Sp8b99qOVy832wzIFhqSF763SdqNX93wVAsT3QN63i_i1z0lo6PjBpTIDyhWl8mnJ3w-Qf4uBQHSCiJgBges17COulR9Jn0QO-Xuuon3JxeGkTQsQudOIpbhvfnxRk1Rgtz_3qtMGG1uporAPo_rQptsNGe27goVw8e6wiAiqhaaKVnB0Eet74ssYwLawMdl0oHFYm0sJ1q7gmHuCc7vGR_517tDG9ZwP0bwnE1YwtR0a88c7AMhS75cTLC42MWv149rg2HZHuR4MS1Xh1R9g9G_oT2009U5ulIT2wxddYZ1s078N-neBpxjsN44HCSBcCm-hMW9upW3TTUeSG-n2S7xHFaZhyRenkSySbMSFhAEuuUhff542MY_vn_TtF1GoX1mOQgLrtebil4m4O__i3SPPClSciGkvDH3C0yIqu1-JAFmVLYXsgXaU_TlN6RmuZUwb-SSOV8ZQkd0zZdpwmKch_Y93ZzFUEZvHKDqB2DG3hzdgTCuMwfgk5g43r2IKRT9s0ya16-SfiVPv6Z3mWP8yXf7--AQ06yNnaDw6uSH_4dYy6RAPIubegZxGGkVD9t5TWRPkdVzgvCaCOmYOtn8-Varp9F6blq66zRDJuzCCyvkR4AMjkD2iblBiN9UtWP98UpkFckMEkIqVoUk75PcKO_lilN5DaCvnc24_bPRks2mjT8bAf2--t8_1WzDBFto0Ohq_UMrNZksem2svh4vxS2Zvlg9U0wKsRbXqjFt0f_L9RRKkqYV1AxGpRIqSoMNzt0SvXRkM9SCLUg0VZYa8g6f_B1RYqHvgatCMDuSp9v9WeEoFqe7anwlFY9m9ty2G-BNGfi0LAyjDPuYS6fCDCoGYCBnTkaDyLWXJDXAT4zCyspry6UETbE43ff2BwwjuAVcRP0YxKeICcyDsu_P9bL34bfHHdZwfd6jixEdn4=w1170-h658-s-no?authuser=0');
  background-color: black;
  background-size: cover;
  background-position: center;
}


#picture-author,
#picture-song,
#picture-year {
  display: inline-block;
  width: 45%;
  margin: 0 5% 10px 5%;
  box-sizing: border-box;
}

#chuliki-form * {

  padding: 0px;
  box-sizing: border-box;
  font-family: Copperplate, sans-serif;
  color: rgb(255, 255, 255);
}

#chuliki-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

#chuliki-form form {
  background: rgba(70, 67, 67, 0.267);
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 10px;
  padding: 55px 30px 40px 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.184);
  height: 100%;
  /* added */
  text-align: center;
}

#chuliki-form form .title h2 {
  letter-spacing: 5px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

#chuliki-form form .half {
  display: flex;
  justify-content: space-between;
}

#chuliki-form form .half .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chuliki-form form label {
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

#chuliki-form form .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

#chuliki-form form .full {
  margin-bottom: 24px;
  padding-top: 10px;
}

#chuliki-form form .full textarea {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

#chuliki-form form .action {
  margin-bottom: 30px;
}

#chuliki-form .full label {
  display: block;
  text-align: center;
}

#chuliki-form form .action input {
  background: rgba(128, 128, 128, 0.267);
  border-radius: 2px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 26px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 10px 0 12px;
  margin-right: 10px;
}

#chuliki-form .item1,
#chuliki-form .item2,
#chuliki-form .item3 {
  text-align: center;
}

#chuliki-form .item1 input,
#chuliki-form .item2 input,
#chuliki-form .item3 input {
  background-color: rgba(255, 255, 255, 0.277);
  border: 1px solid white;
}


/*button position n styling*/
#update-button {
  right: 10px;
}

#delete-button {
  left: 10px;
}



