html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
  background-image: url("https://lh3.googleusercontent.com/pw/AJFCJaXx5eyXGyzcXorC0EQtuP-9w2TnhUPh3kU8yrZ0ZOcR86e5d8t7R5RLkyHzAozwOWCrKuMrSfyhjIJuOHy6M3GY1q_I089nlBhBqPnke3HSWJ5_KhAtMHhUVOotnnkoVR7WCYoa9sjQh5pYSrYdFFNM=w1114-h1680-s-no?authuser=0");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

header a {
	color: none;
	font-size: 25px;
	text-decoration: none; 
	display: block;
	margin: 0 auto;
	padding: 20px;
	width: fit-content;
}


header h1 {
	color: rgba(245, 245, 245, 0.714);
	font-size: 25px;
	margin: 0;
    text-align: center;
}

header h1:hover {
	color: #ccc;
}

.text-left {
	position: absolute;
	width: 50%;
}

.text-left h3 {
    color: rgba(245, 245, 245, 0.714);
	margin: 0;
	padding: 12px;
	font-size: 21px;
    top: 0;

}


footer {
	padding: 20px 0;
	text-align: center;
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
}

footer ul {
	margin: 0;
	padding: 0;
    float: left;
	list-style-type: none;
}

footer li {
	display: inline-block;
	margin: 0 65px;
}

footer li a {
	color: rgba(245, 245, 245, 0.714);
	font-size: 20px;
	text-decoration: none;
}

footer li a:hover {
	color: #ccc;
}



